footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    bottom: 0;
    left: 0;
    padding: 2rem 0rem 2rem 0rem;
    background-color: #070925;
    color: white;
    font-size: 1rem;
}
.message{
    padding-left: 2rem
}
/* .social svg {
    width: 2.2rem;
    height: 2.2rem;
    margin-left: 1.5rem;
} */

/* @media (max-width: 40rem) {
    .social svg {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 1.5rem;
    }
} */