  .paginationContainer{
    padding: 0.5rem 0rem 1rem 0rem;
    background-color:rgba(0, 0, 0, 0.50)
  }
  
  .pagination {
    background-color:rgba(0, 0, 0, 0.20);
    display: flex;
    justify-content: center;
}

.pagination a {
    display: inline-block;
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 0.8rem;
  }

.pagination a.active {
    background-color: #eed278;
    color: black;
  }
  
  .pagination a:hover:not(.active) {background-color: rgba(0, 0, 0, 0.20);}